services:
  apigateway:
    build:
      context: ..
      dockerfile: docker/apigateway.Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - Grpc__FileStoring__Address=http://filestoring:5001
      - Grpc__FileAnalysis__Address=http://fileanalysis:5002
      - Grpc__FileStoring__TimeoutSeconds=10
      - Grpc__FileAnalysis__TimeoutSeconds=15
    depends_on:
      - filestoring
      - fileanalysis

  filestoring:
    build:
      context: ..
      dockerfile: docker/filestoring.Dockerfile
    environment:
      - ConnectionStrings__StoringDb=Host=storing-postgres;Port=5432;Database=storingdb;Username=postgres;Password=postgres
      - S3__Endpoint=http://minio:9000
      - S3__AccessKey=minio
      - S3__SecretKey=minio123
      - S3__Bucket=works
      - S3__UseSsl=false
      - S3__Region=us-east-1
    depends_on:
      - storing-postgres
      - minio

  fileanalysis:
    build:
      context: ..
      dockerfile: docker/fileanalysis.Dockerfile
    environment:
      - ConnectionStrings__AnalysisDb=Host=analysis-postgres;Port=5432;Database=analysisdb;Username=postgres;Password=postgres
      - Grpc__FileStoring__Address=http://filestoring:5001
      - WordCloud__MaxTextLength=5000
    depends_on:
      - analysis-postgres
      - filestoring

  storing-postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=storingdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5434:5432"
    volumes:
      - storing_pg_data:/var/lib/postgresql/data

  analysis-postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=analysisdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - analysis_pg_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  storing_pg_data:
  analysis_pg_data:
  minio_data:
